<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %} Vimeo Assignment {% endblock %}</title>
    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon" />

    <link href="{{STATIC_URL}}css/style.css" type="text/css" rel="stylesheet" />
    {% block css %}
    {% endblock %}

    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    {% block js %}
    {% endblock %}

</head>

<body id="vimeo_assignment" class="page">
<div class="content_cont">

    <div class="content_title">
        {% block content_title %}{% endblock %}
    </div>

    <div id="header">
        <div class="aligner">
            <a href="{% url 'home' %}">
                <img src="{{ STATIC_URL }}images/vimeo.jpg" alt="logo">
            </a>
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</div>
</body>
</html>